*{
    margin: 0;
    padding: 0;
}
body
{
    position: relative;
    background-color: #dffb87 !important;
    /* background: linear-gradient(-45deg, rgb(228, 52, 52),rgb(233, 97, 97),rgb(230, 74, 35)) ; */
    scroll-behavior: smooth;
}
.App
{
    position: relative;
}
div.App > nav.navbar
{
    /* color: #333; */
    border-color: rgba(199, 233, 11, 0.712) !important;
    background-color: #283642 !important;
    background-color: #13426bd8 !important;
}
nav.navbar .navbar-brand
{
    color: #f1f1f4;
}
div#add-form > form input[type='text' i],
div#add-form > form input[type='text' i]:hover,
div#add-form > form input[type='text' i]:focus
{
    outline: none !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
}
div#add-form > form button[type='submit' i]
{
    width: 100px;
    font-weight: bold;
    color: whitesmoke;
    background-color: #1c4fb6de;
    letter-spacing: 2px !important;
}
div#add-form > form button[type='submit' i]
{
    outline: none !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.right-0
{
    right: 0 !important;
}
i.bi-x
{
    font-size: 35px;
    font-weight: bold;
    color: rgb(248, 59, 59)!important;
}
.bi-x-circle-fill
{
    font-size: 30px;
    color: rgb(251, 105, 105);
}
.bi-plus-circle
{
    width: 30px!important;
    height: 30px!important;
    font-size: 30px;
    color: whitesmoke;
}
#add-form
{
    display: none;
    transition: ease-in-out 5s;
}
.bg-color
{
    background-color: #90bde26e;
}
button.show-form
{
    background-color: transparent;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
}
button.clearTasks
{
    letter-spacing: .2em;
    border: none;
    color: rgb(246, 53, 53);
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 10px;
}
button.show-form:focus
{
    outline: none !important;
    border: none !important;
}
form > button, form > button:hover, form > button:focus, form > button:active
{
    outline:none !important;
    border: none !important;
}
div.todo-content
{
    width: calc( 100% - 61px );
}
div.Todos > h2
{
    text-align: center;
    width: 70%;
    margin: 20px auto;
}
div.Todo
{
    width: 100%;
    position: relative;
    background-color: #0f6ce6a2 !important;
    animation: slowIn 0.8s ease-out;
}
@keyframes slowIn
{
    0% {
        opacity: 0;
    } 100%{
        opacity: 1;
    }
}
div.Todo div.card-header
{
    min-height: 50px !important;
    height: fit-content;
    /* background-color: #f06392a8 !important; */
}
.check
{
    display: block;
    position: relative;
    padding-left: 5px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check input
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.checkmark
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #eee;
    z-index: 99;
}
.check:hover input ~ .checkmark
{
    background-color: #ccc;
}
.check input:checked ~ .checkmark
{
    background-color: rgb(52, 160, 9);
}
.checkmark:after
{
    content: "";
    position: absolute;
    display: none;
}
.check input:checked ~ .checkmark:after
{
    display: block;
}
.check .checkmark:after
{
    left: 0.46em;
    top: .3em;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2.5px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.Todo div.card-header h4
{
    width: calc( 100% - 25px );
    word-wrap: break-word;   
}
div.Todo button.deleteBtn
{
    position: sticky;
    right: 0;
    background-color: #283642 !important;
}
div.Todo > button.deleteBtn:focus
{
    opacity: .6 ;
    box-shadow: inset 2px 2px 2px #111;
}
footer.footer 
{
    position:sticky;
    bottom:0;
    z-Index: 99;
    background-color: #2b4b8b !important;
}

/* ................................................................ */
/* Media Quary */
@media (min-width:568px)
{
    .App
    {
        max-width: 600px !important;
        width:75% !important;
    }
    .mx-0
    {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
@media (max-width:567px)
{
    .App
    {
        margin: 0;
        padding: 0;
    }
    .container-sm
    {
        margin: 0 !important;
        padding: 0 !important;
    }
}